a{
	text-decoration: none;
}
/*收货地址列表 strat*/
.address_main{
	background: #fff;
	margin-bottom: 10px;
}
.ads_m{
	padding:15px;
}
.ads_m p{
	line-height: 25px;
}

a.nm_a {color: #000}	

.mr_address{
	padding: 10px 15px;
	border-bottom: 1px solid #eff3f6;
	border-top: 1px solid #eff3f6;
	position: relative;
}
.radio{
	float: left;
	width: 10px;
	height: 10px;
	border: 2px solid #ddd;
	-moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari 和 Chrome */
  	border-radius: 10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
  	margin: 3px 5px 0 0 ;
}
.der_col{
	border: 2px solid #bd1016;
}
.radio .radio_check{
	width: 6px;
	height: 6px;
	border: 1px solid #bd1016;
	-moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari 和 Chrome */
  	border-radius: 10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
  	margin: 1px auto;
  	background: #bd1016;
}
.mr_address .do_right{
	float: right;
}

/*收货地址列表 end*/
/*发票页面css strat*/
.inv_tit{
	margin: 10px 0px;
	background: #fff;
	border-top: 1px solid #eff3f6;
}
.inv_tit .fp_tit ,.kfp_con .kfp_tit{
	padding: 15px 15px;
	border-bottom: 1px solid #eff3f6;
}
.kfp_con{
	background: #fff;
	border-top: 1px solid #eff3f6;
	position: relative;
}
.kfp_tit .adder_img:before{
	content: ' ';
	position: absolute;
	border: #999 solid;
	border-width: 2px 0 0 2px;
	width: 13px;
	height: 13px;
	-webkit-transform: rotate(-225deg);
	-moz-transform: rotate(-225deg);
	right: 10px;
}

.kfp_tit .pre_right{
	float: right;
	padding-right: 10px;
}
.kfp_tit .adder_height{
	display: block;
	padding: 20px 0px;
}
.show_adderss{
	position: relative;
	padding: 10px 25px 10px 15px;
}
.show_adderss .adder_img:before{
	content: ' ';
	position: absolute;
	border: #999 solid;
	border-width: 2px 0 0 2px;
	width: 13px;
	height: 13px;
	-webkit-transform: rotate(-225deg);
	-moz-transform: rotate(-225deg);
	right: 10px;
	top:40px;
}
.show_adderss .s_adder_p{
	line-height: 25px;
}

.invoice-top-add{
	background: #fff;
	width: 100%;
	height: 80%;
}
.invoice-top-add p.inv-top{
	line-height: 30px;
	padding: 10px 15px;
}
.invoice-top-add  .text-top{
	margin: 0 15px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 80%;
}
/*发票页面css end*/

/*提货人*/
.god-right{
	float: right;
}
