body {
    background: #fff;
}
.invoice-top-no {
    background: #fff;
    text-align: center;
    width: 100%;
    height: 80%;
}
.header .mess_edit {
    position: absolute;
    right: 10px;
    top: 13px;
}
.list-ul {
    overflow: hidden
}
.list-li {
	line-height: 25px;
    border-bottom: 1px solid #eff3f6;
    position: relative;
    padding: 10px 15px;
    color: #666;
    -webkit-transform: translateX(0px);
}

.con .new_time{
	float: right;
}
.btn {
    position: absolute;
    top: 0;
    right: -60px;
    text-align: center;
    background: #bd1016;
    color: #fff;
    width: 60px;
	line-height: 71px;
}
 .ba_img{
    /*background: url(../images/no_read.jpg) no-repeat 7 16px;*/
  float: left;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background: #bd1016;
    margin: 10px 0px;
 }
 .radio{
    float: left;
    width: 10px;
    height: 10px;
    border: 2px solid #ddd;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari 和 Chrome */
    border-radius: 10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    margin: 20px 10px 0 0;
}
.der_col{
    border: 2px solid #bd1016;
}
.radio .radio_check{
    width: 6px;
    height: 6px;
    border: 1px solid #bd1016;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari 和 Chrome */
    border-radius: 10px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    margin: 1px auto;
    background: #bd1016;
}
.msed{
    position: fixed;
    bottom: 0px;
    background: #f7f7f7;
    width: 100%;
    line-height: 45px;
    border-top: 1px solid #eff3f6;
}
.msed .msed_t{
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    color: #bd1016
}
/*显示消息 end*/

