@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	/*font-family:Helvetica,"Microsoft YaHei", Arial, Helvetica, sans-serif;*/
	font-family: Hiragino Sans GB W3;
	background-color: #fff;
	-webkit-text-size-adjust: none 
}
ul, li,p,h1,h2{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
    max-width: 100%;
}
form {
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: #000;
}
a, div, header, span {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
/*字体颜色*/
.colab{
	color: #ababab;
}
.colbd1016{
	color: #bd1016 !important;
}
.colfff{
	color: #fff;
}
/*字体颜色 end*/
.mobile {
	/*background-color: #FFFFFF;*/
	min-width: 320px;
}
.w {
	background-color: #FFFFFF;
	float: left;
	min-width: 320px;
	width: 100%;
	margin: 15px 0px;
}
.m_user {
	line-height: 40px;
}
.m_user a {
	float: left;
	width: 33%;
	text-decoration: none;
	color: #666666;
	font-size: 12px;
	text-align: center;
}
.m_more {
	line-height: 40px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	float: left;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F6F6F6;
}
.m_more a {
	line-height: 40px;
	height: 40px;
	width: 100%;
	color: #666666;
	text-decoration: none;
	float: left;
	font-size: 12px;
}
.data_null {
	background-image: url(../images/nothing.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
}

/*页面加载*/
#preloader {position:fixed;z-index:2500;top:0;left:0;right:0;bottom:0;background-color:#fff; z-index:999999; }
#status {
	position:fixed;
	z-index:999999;
	width:250px;
	height:250px;
	position:absolute;
	left:50%;
	top:50%;
	background-size:32px 32px;
	margin-top: -125px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: -115px;
}
#status p{top:70%;}
.center-text{
	text-align:center;
	background-image: url(../images/loading.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 182px;
	width: 234px;
}
.center-text span {
	font-size: 14px;
	color: #999999;
	position: relative;
	top: 170px;
}

/*header*/
.header{
	height:44px;
	background:#fff;
	position: relative;
	z-index: 10;
	border-bottom: 2px solid #eff3f6; 
}
.new-a-back {
	height: 40px;
	position: absolute;
	width: 45px;
}
.new-a-back span {
	background:url(../images/icon_fh.png) no-repeat 0px 0px / 18px 18px;
	display:block;
	height: 35px;
	text-indent:17px;
	width: 50px;
	color:#FFF;
	font-size:14px;
	padding-top: 8px;
	margin-left: -10px;
}
.new-a-back span img {
	width: 25px;
}

.header h2 {
	color: #2e2e2e;
	font-size: 20px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	
}
.header .header_right {
	position: absolute;
	right: 10;
	top: 10;
}
.header .header_right img {
	height: 25px;
}
.head_right {
	position: absolute;
	top: 15px;
	right: 10px;
}
.head_right    a   {
	color:#FFFFFF;
	font-size:12px;
	padding-top:5px;
	text-decoration: none;
}
.search {
	margin-top: 2%;
}



.search_input {
	6width: 85%;
	margin: 0px;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 40px;
	float: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline: none;
	font-family:"Hiragino Sans GB W3";
	font-size: 13px;
	color: #666666;
	background-image: url(../images/iconfont-sousuo.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 20px;
	width: 80%;
}
.search_submit {
	float: left;
	width: 20%;
	height: 37px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline: none;
	font-family:"Hiragino Sans GB W3";
	font-size: 14px;
	line-height: 37px;
	color: #FFFFFF;
	background-color: #009999;
}
.m_input {
	width: 97%;
	padding-right: 1.5%;
	padding-left: 1.5%;
	font-size: 15px;
	color: #333333;
	height: 40px;
	font-family: "Hiragino Sans GB W3";
	border: 1px solid #D7D7D7;
	margin: 1.5%;
	outline: none;
	border-radius: 3px;
}
.color_red {
	font-weight: bold;
	color: #ff6063;
}
.color_luse {
	font-weight: bold;
	color: #00bb9c;
}

.color_chunlu {
	font-weight: bold;
	color: #91C756;
}






.footer a {
	float: left;
	width: 33%;
	height: 80px;
	text-align: center;
	text-decoration: none;
}
.footer .ico_img {
	margin-top: 15px;
}
.footer .ico_img img {
	width: 30px;
}

.footer a span {
	font-size: 12px;
	color: #666666;
	line-height: 30px;
}
.copyright {
	line-height: 40px;
	font-size: 12px;
	color: #999999;
	text-align: center;
	float: left;
	width: 100%;
	margin-bottom: 55px;

}
.copyright a {
	text-decoration: none;
	color: #999999;
}
.gotop {
	background-image: url(../images/iconfont-fanhuidingbu.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px;
	height: 40px;
	width: 40px;
	position: fixed;
	right: 10px;
	bottom: 50px;
	z-index: 9999;
	cursor: pointer;
}
.no_login_show {
	background-color: #FFFFFF;
	text-align: center;
	float: left;
	width: 360px;
	overflow: hidden;
}
.no_login_show h1 {
	font-size: 16px;
	color: #666666;
	margin: 0px;
	line-height: 50px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #E7E7E7;
	background-color: #F9F9F9;
}
.no_login_show a {
	width: 100%;
	line-height: 50px;
	text-decoration: none;
	color: #ff6063;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #EEEEEE;
}

/*修改注册页样式*/
.reg_top:after{
	content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.reg_top {
	
	border-bottom: 1px solid #e9e9e9;
	height: 40px;
	line-height: 40px;
	background: #fff;
	font-size: 18px;
}
.reg_top .reg_title{
 float: left;
 width: 50%;
 text-align: center;
}
.reg_top .cur{
	border-bottom: 3px solid #bd0f18;
}
.main .item .item_tit{
	height: 50px;
	line-height: 50px;
	display: block;
	float: left;
	font-size: 18px;
	width: 85px;
}
.main .item .item_log{
	height: 50px;
	line-height: 50px;
	display: block;
	float: left;
	font-size: 18px;
	width: 30px;
}
.main .item .item_log img{
	height: 30px;
	width: 25px;
	margin-top: 10px;
}
.send1{
	background: #fff;
	padding: 5px;
	border: 1px solid #bd1016;
	color: #bd1016;
	border-radius: 5px;
	position: absolute;
	right: 10px;
	top: 11px;
}
.item-captcha{
	padding-left: 15px;
}
.item-captcha .checkbox{
	float: left;
	width: 18px;
	height: 18px;
	border:1px solid #bd1016;
	margin-right: 10px;
}
.item-captcha .check_background{
	background: url(../images/icon_y.png) no-repeat center;
}
.item-captcha  .err-tips{
	line-height: 22px;
}
.item-captcha .user_xy{
	text-decoration: none;
	color: #bd1016;
}
.company{
	display: none;
}

.atention_tit{
	border: 0px;
	border-top: 1px solid #e9e9e9;
	text-align: center;
	color: #e9e9e9;
}
.atention_tit legend{
	padding: 0 10px;
}
.cont_ul:after{
	content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.cont_ul{
	margin: 0 15px;
}
.cont_ul li{
	float: left;
	margin:8px 9px;
	/*width: 24%;*/
	position: relative;
}
.cont_ul li .li_a{
	border: 1px solid #e9e9e9;
	padding: 5px;
	font-size: 13px;
	position: relative;
	display: block;
}
.cont_ul li .li_a.cur_a{
	border:1px solid #bd1016;
}
.cont_ul li .cur_i{
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: -11px;
	right: -7px;
    background: url(../images/icon_qd.png) no-repeat;
}

/*修改注册页样式 end*/

/*增加地址css*/
.main .default_tit{
	height: 50px;
	line-height: 50px;
	display: block;
	float: left;
	font-size: 18px;
}
.main .default{
margin-top: 10px;
}
.main .item .adder_right:before {
content: ' ';
position: absolute;
border: #999 solid;
border-width: 2px 0 0 2px;
width: 13px;
height: 13px;
-webkit-transform: rotate(-225deg);
-moz-transform: rotate(-225deg);
right: 10px;
position: absolute;
top: 16px;
}
.main .default .btn-off {background: url("../images/u_s1.png") no-repeat scroll 0 0 / 51px 35px;}
.main .default .tp-btn {cursor: pointer;display: block;height: 35px;position: absolute; right: 10px;top: 11px; width: 51px; z-index: 1;}
.main .default .btn-on {background: url("../images/u_s2.png") no-repeat scroll 0 0 / 51px 35px;}
.address_save{
	position: fixed;
	bottom: 0px;
	width: 100%;
}
.address_save .button_save{
	display: block;
	background: #bd1016;
	color: #fff;
	text-align: center;
	height: 45px;
	line-height: 45px;
	text-decoration: none;
}
/*增加地址css end*/

/*找货助手*/
.guige{
	margin: 10px 0px;
}
.guige .select_zl{
	position: absolute;
	right: 10px;
	top:15px;
}
.guige .select_zl select.zhl{
background: #f7f7f7;
padding: 3px 5px;
border: 0px;
}
#textarea { 
	overflow: hidden; 
	padding: 15px 10px 10px 10px;
}
/*找货助手 end*/
